*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.wrapper_container_app {
  max-width: 380px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper_container_app.full {
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .wrapper_container_app {
    padding: 0 15px;
  }
}

.bg_cherry {
  background: #e20030;
}

input,
select,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.input__g {
  text-align: left;
  position: relative;
  background: #f4f9fc;
  border-radius: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  padding: 20px 26px;
  border: solid 1px #ffffff;
  outline: none;
}

.input__g:focus {
  background: #ffffff;
  border: solid 1px #e20030;
}

.row_field {
  margin-bottom: 20px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.btn_general {
  width: 100%;
  border-radius: 20px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  background: #e20030;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn_general:hover {
  opacity: 0.8;
}

.btn_general.white {
  background: #ffffff;
  color: #e20030;
}

.margin_btn_login {
  margin: 27px 0;
}

.label_text {
  color: #000000;
}

.label_text a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.label_text a:hover {
  color: #e20030;
}

.label_text .link_form {
  display: block;
  font-weight: 700;
  margin-top: 8px;
}

.content_logo {
  position: relative;
  width: 326px;
  height: 326px;
  background: #e51a47;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  border-radius: 100%;
  margin-top: 200px;
  margin-bottom: 70px;
}

.content_logo:before, .content_logo:after {
  content: "";
  position: absolute;
  border-radius: 100%;
}

.content_logo:before {
  width: 282px;
  height: 282px;
  background: #e73159;
}

.content_logo:after {
  width: 228px;
  height: 228px;
  background: #ea4669;
}

.logo_intro {
  width: 174px;
  height: 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  border-radius: 100%;
  margin: 0 auto;
  z-index: 1;
}

.logo_intro img {
  max-width: 92px;
  height: auto;
}

.hashtag_covid19 {
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  display: block;
  margin-top: 56px;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .content_logo {
    margin-top: 80px;
  }
}

.message_login {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  letter-spacing: 1px;
  font-size: 25px;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.message_login span {
  display: block;
  font-size: 35px;
  font-weight: 700;
}

.options_login {
  padding-top: 0px;
  padding-bottom: 30px;
}

.line-medium {
  text-align: center;
  margin: 0 auto;
  position: relative;
  font-size: 14px;
  letter-spacing: 2.22px;
  display: block;
  width: 260px;
  margin: 0 auto;
}

.line-medium:before, .line-medium:after {
  content: "";
  height: 1.1px;
  background: #000000;
  opacity: 0.3;
  position: absolute;
  width: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.line-medium:before {
  left: 0px;
}

.line-medium:after {
  right: 0px;
}

.login_social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_social_media a {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 4px 0 #dcecfb;
          box-shadow: 2px 4px 4px 0 #dcecfb;
  padding: 10px;
  margin: 40px 10px;
}

.login_social_media a img {
  max-width: 100%;
  height: auto;
}
