.btn_general
	max-width: 335px
	border-radius: 20px
	height: 55px
	line-height: 55px
	text-align: center
	background: $cherry
	color: $blanco
	display: block
	margin: 0 auto
	font-size: 16px
	text-transform: uppercase
	text-decoration: none
	transition: all 0.5s
	&:hover
		opacity: 0.8
	&.white
		background: $blanco
		color: $cherry